<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mode" value="PROD" />
  </appSettings>
  <connectionStrings>
    <add name="GuildCars" connectionString="server=localhost;Database=GuildCars;User Id= CarDealership;Password=12345" providerName="System.Data.SqlClient" />
    <add name="GuildCarsEntities" connectionString="Server=DESKTOP-GRO42S9;Database=GuildCars;User Id= CarDealership;Password=12345" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
