@{
    ViewBag.Title = "Reports";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@Html.ActionLink("Inventory Report", "Inventory", "Reports")<br />
@Html.ActionLink("Sales Report", "Sales", "Reports")